{% extends "base.html" %}
{% block title %}Datenschutzerklärung{% endblock %}

{% block content %}

<h1>Datenschutzerklärung</h1>

<h2>1. Datenschutz auf einen Blick</h2>
<p>
Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen.
Personenbezogene Daten werden auf dieser Website nur im notwendigen Umfang verarbeitet.
</p>

<h2>2. Verantwortliche Stelle</h2>
<p>
Sebastian Csoke<br>
<br>
<br>
Deutschland<br>
E-Mail: contact@serviciipentruromani.com
</p>

<h2>3. Erhebung und Verarbeitung personenbezogener Daten</h2>
<p>
Wir erheben personenbezogene Daten nur, wenn Sie uns diese freiwillig mitteilen,
zum Beispiel über ein Kontaktformular.
</p>

<h2>4. Server-Log-Dateien</h2>
<p>
Der Provider der Seiten erhebt und speichert automatisch Informationen in sogenannten Server-Log-Dateien,
die Ihr Browser automatisch an uns übermittelt.
</p>

<h2>5. Cookies</h2>
<p>
Diese Website verwendet keine Cookies oder nur technisch notwendige Cookies.
</p>

<h2>6. Kontaktformular</h2>
<p>
Wenn Sie uns per Formular Anfragen zukommen lassen, werden Ihre Angaben zwecks Bearbeitung
der Anfrage gespeichert.
</p>

<h2>7. Ihre Rechte</h2>
<p>
Sie haben jederzeit das Recht auf Auskunft, Berichtigung, Löschung oder Einschränkung der Verarbeitung
Ihrer personenbezogenen Daten.
</p>

<h2>8. SSL-Verschlüsselung</h2>
<p>
Diese Seite nutzt aus Sicherheitsgründen eine SSL-Verschlüsselung.
</p>

{% endblock %}
