{% extends "base.html" %}
{% block title %}Impressum{% endblock %}

{% block content %}

<h1>Impressum</h1>

<p><strong>Angaben gemäß § 5 TMG</strong></p>

<p>
Sebastian Csoke<br>
{% comment %} Str. Exemplu 12<br>
12345 Stadt<br>
Deutschland {% endcomment %}
</p>

<p>
<strong>Kontakt</strong><br>
{% comment %} Telefon: +49 xxx xxxxxxx<br> {% endcomment %}
E-Mail: contact@serviciipentruromani.com
</p>

{% comment %} <p>
<strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</strong><br>
Nume Prenume<br>
Str. Exemplu 12<br>
12345 Stadt
</p> {% endcomment %}

<p>
<strong>Haftung für Inhalte</strong><br>
Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
</p>

<p>
<strong>Haftung für Links</strong><br>
Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
</p>

{% endblock %}
