<h1>Impressum</h1>

<p>Angaben gemäß § 5 TMG</p>

<p>
<strong>Sebastian Csoke</strong><br>
Ilveser Holz 21<br>
32469, Petershagen<br>
Deutschland
</p>

<p>
<strong>Kontakt:</strong>
<br>
{% comment %} Telefon: [opțional]<br> {% endcomment %}
E-Mail: <a href="mailto:contact@serviciipentruromani.com">contact@serviciipentruromani.com</a>
</p>

<p>
<strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
Sebastian Csoke<br>
Ilveser Holz 21<br>
32469, Petershagen<br>
</p>

<p>
<strong>Haftung für Inhalte</strong><br>
Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
</p>

<p>
<strong>Haftung für Links</strong><br>
Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
</p>

<p>
<strong>Urheberrecht</strong><br>
Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
</p>
